/* ==========================================================================
   Base
   ========================================================================== */

body { }

/* 
Edited by Mike Koro.
Orginal: margin-left:0px; 
*/

ul {
margin-left:16px;
}


/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* 
Edited by Mike Koro.
See foundation.css -> .vcard and .vcard .fn
for the original values.
*/

.hentry .vcard {
border:none;
margin:0;
padding-left:0;
}

.hentry .fn {
font-size:1em;
}

/* ==========================================================================
   Comments
   ========================================================================== */
/* 
Edited by Mike Koro.
Orginal: margin-left:0px; 
*/

#comments ol {
margin-left:23px;
} 

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }
